body {
  padding: 0;
  margin: 0;
  background-color: rgb(101, 217, 221);
}

.container {
  margin-top: 30px;
  margin: auto;
  width: 60%;
}

h1 {
  padding: 0;
  margin: 0;
  text-align: center;
}

p {
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.survey-form {
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  padding: 30px;
  margin-top: 20px;
}

.survey-form p{
  text-align: left;
  margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="number"] {
  display: inline-block;
  width: 95%;
  padding: 12px 20px;
  margin  : 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

select{
  width: 100%;
  padding: 12px 20px;
  margin  : 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea{
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button{
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background-color: rgb(101, 217, 221);
  border-radius: 4px;
  border: 1px solid white;
}
